<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit = no">
    <!--Embed Style Method-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Link to styles css file-->
    <link rel="stylesheet" href="styles.css"> 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  

</head>

<body>
    <header>
        <div id="nav" class="sticky-top">
            <nav class="navbar main-menu">
                <router-link class="navbar-nav spacing" v-for="routes in links" :key="routes.id"
                    :to="`${routes.page}`">{{ routes.text }}</router-link>
            </nav>
        </div>
    </header>
    <aside id="leftside"></aside>
    <aside id="rightside"></aside>
    <div id="container">
        <div id= "component1">
            <mycomponent1></mycomponent1>
        </div>
        
        <main>
        
        <aside id="photos">
            <img :src="imgPath" alt="White Chicken Chili" width="180">
        </aside>
        <div id = "component2">
            <mycomponent2></mycomponent2>
        </div>        
        
        <section id="blogposts">
            <ul class="list-group">
                <li class="list-group-item post" v-for="(post,index) in posts" :key="index" style="list-style: none;">
                    <img v-bind:src="post.imgPath" style="width: 40px; cursor: pointer;" @click="post.infobox= !post.infobox;">
                    {{ post.author }} —
                    {{ post.date }}
                    {{ post.reply }}
                    <div v-html = "post.message"></div>
                </li>
            </ul>

            <div class="modal" v-for="post in posts" v-show="post.infobox">
                <div class="modal-body">
                    <h1>{{ post.author }}</h1>
                    <div class="modalInfo">
                        <span class="subtitle">Foodie Level:</span>
                        <span class="modalDisc">{{ post.foodieLevel }}</span><br>
                        <span class="subtitle">Bio:</span>
                        <span class="modalDisc">{{ post.bio }}</span>
                    </div>
                    <button class="close-button" type="button" @click="post.infobox = false;">Close</button>
                </div>
            </div>

        </section>

        </main>

        <footer>
            &copy; Copyright FOOD BLOG
        </footer>
    
    </div>

<script src="vue.js"></script>
<!--JavaScript Codes-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
